Package: music-up
Version: 3.0.0-12
Section: base
Priority: optional
Architecture: amd64
Maintainer: Michael Milke (Nobo) <nobo_code@posteo.de>
Description: MusicUp - A Music Management Tool for Linux
License: Proprietary
Homepage: https://github.com/hiphopconnect/musicup/
